version: '3.8'

services:
web:
 build: .
 ports:
   - "1234:1234"
 environment:
   - POSTGRES_HOST=db
   - POSTGRES_DB=testdb
   - POSTGRES_USER=testuser
   - POSTGRES_PASSWORD=testpass
 depends_on:
   - db

db:
 image: postgres:16
 environment:
   - POSTGRES_DB=testdb
   - POSTGRES_USER=testuser
   - POSTGRES_PASSWORD=testpass
